.lineBox{
    background-color: #2E2E2E;
    height: 50px;
}
.lineBox2{
        height: 50px;

}
.getAllButton{
     height: 50px;
     width: 150px;
     float: left;
}


.buttonDiv{
    margin-right: 50%;
}

.buttonDiv1{
    margin-left: 45%;
}

.buttonDiv2{
    margin-right: 12%;
    float: right;
}

.innerBox{

    width: 20%; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
    height: 60px;
}

.innerBox2{
    padding: 5px; /* Поля вокруг текста */
    float: right; /* Обтекание по правому краю */
    width: 10%; /* Ширина слоя */
    height: 60px;
}
.mainWorkBox{
     margin-left: 10%;
     margin-right: 15%;
}

.workBox1{
    width: 30%;
    float: left;
    margin-right: 3%;
    display: flex;
}

.workBox2{
    float: left;
    margin-top: 1%;
}

.aRedefined{
    margin-top: 0px;
    margin-left: 10%;
    color: white;
    margin-top: 4%;
}

.ellipsis {
display:none;
}

.h1Redefined{

    height 20px;
    float: top;
}

.buttonRedefined{
    height:30px
    margin-left: 2%;
    margin-bottom: 2%
}

.skillTable{
    margin-top: 5px;
}

#add_skill_2{
    width: 25px !IMPORTANT;
}
#updating_skill_2{
    width: 25px !IMPORTANT;
}

.icon{
height: 15px;
width: 15px;
}

.SkillSearch{
    font-size: large;
}

#searchMainDiv{
margin-bottom: 1%;
}

#employeeDepartment{
margin-left:1%;
}

#employeeDepartment_paginate{
margin-left:1%;
}

.inputSearch{
margin-left: 10px !IMPORTANT;
}

#searchDiv{
    display: flex;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #dee2e6;
    }

.descBreak{
    word-break: break-all !IMPORTANT;
    width: 100%;
}
#department_filter{
    visibility: hidden !IMPORTANT;
}

#employee_filter{
    margin-left: 75%;
}

#skillsEmployee_filter{
    margin-left: 75%;
}

#employeeDepartment_filter{
    margin-left: 70%;
}

input[type=search]{
    -webkit-appearance: button !IMPORTANT;
}

#info{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    }

    #info2{
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        }

.divInfo{
width: 1000px;
    margin: auto;
    margin-top: 4%;
    border: 1px solid gray;
    border-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
}

#sizeBlock{
 width: 12% !IMPORTANT;
}

.search_icon{
background-image: url(/img/search.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 30px;
  width: 40px;
  border: none;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.0);
  margin-left: 10px;
  }

.add_icon{
  background-image: url(/img/plus.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 30px;
  width: 40px;
  border: none;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.0);
  }
  .book_info_icon{
    background-image: url(/img/book.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 30px;
    width: 40px;
    border: none;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.0);
    }

  .update_icon{
    background-image: url(/img/update.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;

    height: 30px;
    width: 40px;
    border: none;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.0);
  }

.del_icon{
  background-image: url(/img/del.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  height: 30px;
  width: 40px;
  border: none;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.0);
}

.no_icon{
  background-image: url(/img/no.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  height: 29px;
  width: 40px;
  border: none;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.0);
}
#skillsEmployee{
margin-top: 2%;
}

.yes_icon{
  background-image: url(/img/yes.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  height: 30px;
  width: 40px;
  border: none;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.0);
}
/**
table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
/**font-size: 14px;/**
/**
border-collapse: collapse;
text-align: center;
}
th, td:first-child {
background: #AFCDE7;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 2px 2px 0;
border-color: white;
}
td {
background: #D8E6F3;
padding: 10px 20px;
}
th:first-child, td:first-child {
text-align: left;
}
.tdHover:hover{
background: #245387 !IMPORTANT;
}**/

#add_skill_1{
 width: 230px !IMPORTANT;
}

.name_table{
    display: inherit;

}
.main_cell{
     font-size: large;
}

input{
width: 130px !IMPORTANT;
}


.dataTables_paginate {
  display: inline-block;
}

.dataTables_paginate a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin-right: 1px;
    border: 1px solid #dee2e6;
}

.dataTables_paginate a.active {
  background-color: #245387;
  color: white;
}

.dataTables_paginate a:hover:not(.active) {
background-color: #696969;
color: white;
}