﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
   <meta charset="utf-8">

   <title>Skill storage</title>

   <!-- Bootstrap core CSS -->
   <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous"/>
</head>
   <body>
   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom shadow-sm">

      <a href="#" class="book_info_icon" onclick="returnInfo()"></a>
      <a class="my-0 mr-md-auto font-weight-bold text-dark" href="#" onclick="returnInfo()"><h4>Hobby Box</h4></a>
      <nav class="my-2 my-md-0 mr-md-3">
         <a class="p-2 text-dark" href="#" onclick="clearEmpTb(), getAllDepartment()">Классы</a>
         <a class="p-2 text-dark" href="#" onclick="clearDepTb(), getAllEmployee()">Ученики</a>
      </nav>
      <form th:action="@{/logout}" method="post">
         <input class="btn btn-outline-dark" type="submit" value="Выйти"/>
      </form>
   </div>
      <div class="mainWorkBox">
         <main role="main" class="inner cover" id="mainInfo" >
            <h1 class="cover-heading text-center">Hobby Box</h1>
            <p class="lead text-center" style="width:80% !IMPORTANT; margin:auto" >Приложение для образовательных учериждений, организующее эффективный менеджмент хобби обучающихся, обеспечивает умный поиск увлечений в рамках приложения, и позволяет максимально качественно отслеживать прогресс каждого ученика.</p>

            <div class="row text-center" style="margin:auto; margin-top:5%">
               <div class="col-lg-4">
                  <img src="../static/img/document.png" th:src="@{/img/document.png}" class="bd-placeholder-img rounded-circle" width="140" height="140">
                  <h2>Классы</h2>
                  <p>Модуль классов предоставляет возможность добовлять, обновлять и удалять классы, а также просматривать учеников в конкретном классе.</p>
               </div><!-- /.col-lg-4 -->
               <div class="col-lg-4">
                  <img src="../static/img/group.png" th:src="@{/img/group.png}" class="bd-placeholder-img rounded-circle" width="140" height="140">
                  <h2>Ученики</h2>
                  <p>Модуль учеников предоставляет возможность обновлять, удалять и просматривать информацию не только учащегося но и его увлечений, а также выполнить умный поиск навыков.</p>
               </div><!-- /.col-lg-4 -->
               <div class="col-lg-4">
                  <img src="../static/img/settings.png" th:src="@{/img/settings.png}" class="bd-placeholder-img rounded-circle" width="140" height="140">
                  <h2>Технологии</h2>
                  <p>В проэктировании этого сервиса были задействованы такие технологии, как Spring framework, база данных PostgreSQL, AJAX, jQuery, Bootstrap 4 и Thymeleaf. </p>
               </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
         </main>
         <div class="workBox1">

            <table id="department" class="table table-hover">
         </table>
            <table id="employeeDepartment" class="table">
            </table>
         </div>
         <div>
            <div id="searchMainDiv"></div>
            <table id="employee" class="table table-hover">
            </table>
         </div>
         <div>
            <table id="skillsEmployee" class="table">
            </table>
         </div>
      </div>

   <script type="text/javascript" src="../js/department.js"></script>
   <script type="text/javascript" src="../js/depEmployee.js"></script>
   <script type="text/javascript" src="../js/employee.js"></script>
   <script type="text/javascript" src="../js/empSkills.js"></script>
   </body>
</html>